.text-centre {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-italic {
    font-style: italic;
}
.checkbox {
    width: 25px;
    max-width: 25px;
}

.icon {
    width: 45px;
    max-width: 45px;
}

.highlight-row {
    background: rgba(0, 0, 0, 0.05);
}
