<table mat-table #table [dataSource]="dataSource">
    <ng-container *ngFor="let column of gridOptions.columnDefs" matColumnDef="{{column.field}}">
        <!-------Checkbox-Start-------->        
        <div *ngIf="column.columnType === 4">
            <th mat-header-cell *matHeaderCellDef class="checkbox">
                <mat-checkbox *ngIf="column.renderType === undefined" [(ngModel)]="allSelected" (change)="selectAll()"></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let element" class="checkbox" [ngClass]="{'highlight-row': element.selected === true}">
                <mat-checkbox *ngIf="column.renderType === undefined" [(ngModel)]="element.selected"></mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef>{{getTotal(column)}}</td>
        </div>
        <!-------Checkbox-End-------->
        <!-------Button-Start-------->
        <div *ngIf="column.columnType === 5">
            <th mat-header-cell *matHeaderCellDef class="icon"></th>
            <td mat-cell *matCellDef="let element" class="icon" [ngClass]="{'highlight-row': element.selected === true}">
                <button *ngIf="!column.actions" mat-button mat-icon-button (click)="column.onClick(element)">
                    <mat-icon *ngIf="column.iconName ? true : false">{{column.iconName}}</mat-icon>
                    <span *ngIf="column.iconName ? false : true">{{element[column.field]}}</span>
                </button>
                <button *ngIf="column.actions" mat-button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon *ngIf="column.iconName ? true : false">{{column.iconName}}</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button *ngFor="let action of column.actions" mat-menu-item (click)="action.onClick(element)">
                        <mat-icon>{{action.icon}}</mat-icon>
                        <span>{{action.label}}</span>
                    </button>
                </mat-menu>
            </td>
            <td mat-footer-cell *matFooterCellDef><strong>{{getTotal(column)}}</strong></td>
        </div>
         <!-------Button-End-------->
         <!------text-start------>
         <div *ngIf="column.columnType !== 4 || column.columnType !== 5">
                <th mat-header-cell *matHeaderCellDef class="text-left">
                        <strong>{{column.title}}</strong>
                </th>
                <td mat-cell *matCellDef="let element" [ngClass]="{'highlight-row': element.selected === true}">
                    <div fxLayout="row" fxLayoutAlign="{{column.class === 'text-centre' ? 'center center' : column.class === 'text-right' ? 'end center' : 'start center'}}">
                        <span *ngIf="column.renderType === undefined">{{renderCell(element, column)}}</span>
                        <a *ngIf="column.renderType === 0" style="cursor: pointer;" (click)="column.onClick(element)">{{renderCell(element, column)}}</a>
                    </div>
                </td>
                <div *ngIf="options.showFooter">
                    <td mat-footer-cell *matFooterCellDef><strong [ngStyle]="{'float': column.columnType === 1 || column.columnType === 2 ? 'right' : ''}">{{getTotal(column)}}</strong></td>
                </div>
            </div>
            <!-------Text-End-------->
    </ng-container>
</table>