<div [hidden]="data.confirmForm" id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>
    <mat-drawer-container style="height: 100%; background-color: transparent">
        <div class="header header-bg xataris-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
            <div fxLayout="column" fxLayoutAlign="center start">
                <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text s-16">home</mat-icon>
                    <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                    <span class="secondary-text">{{'ORDERS.TITLE' | translate}}</span>
                </div>
                <div class="h1 mt-16">{{'ORDERS.TITLE' | translate}}</div>
            </div>
        </div>
        <mat-progress-bar *ngIf="data.loader" mode="indeterminate"></mat-progress-bar>
        <div class="content p-16">
            <div class="fuse-widget-front mat-white-bg mat-elevation-z2">
                    <mat-card class="p-0 border-radius-15">
                        <mat-toolbar class="mat-white-bg mat-elevation-z4">
                            <mat-toolbar-row fxFlex>
                                <span fxFlex>{{'ORDERS.DETAILS.TEXT.LISTTITLE' | translate}}</span>
                                <button matTooltip="Download Order" [disabled]="!enableEdit()" mat-icon-button class="mat-icon-button" (click)="downloadPdf()"
                                    aria-label="Add Order">
                                <mat-icon class="s-24">cloud_upload</mat-icon>
                            </button>
                                <button matTooltip="Add a New Order" mat-icon-button class="mat-icon-button" (click)="drawer.toggle(); showDetailsPanel()"
                                        aria-label="Add Order">
                                    <mat-icon class="s-24">add</mat-icon>
                                </button>
                                <button matTooltip="Delete Order" [disabled]="!enableDelete()" mat-icon-button class="mat-icon-button" (click)="deleteOrder()"
                                        aria-label="Delete Order(s)">
                                    <mat-icon class="s-24">delete</mat-icon>
                                </button>
                            </mat-toolbar-row>
                        </mat-toolbar>
                        <mat-divider></mat-divider>
                            <mat-card-content class="p-0">
                                <fuse-grid [gridOptions]="data.ordersGrid" style="width: 100%"></fuse-grid>                           
                            </mat-card-content>

                    </mat-card>
            </div>
        </div>
        <mat-drawer #drawer class="mat-elevation-z4" mode="side" position="end">
                <mat-toolbar class="mat-white-bg mat-elevation-z2">
                    <mat-toolbar-row fxLayoutAlign="end center">
                        <span fxFlex>{{'ORDERS.DETAILS.TEXT.DETAILSTITLE' | translate}}: {{data.ordersDetail.id}}</span>
                        <button matTooltip="Save" mat-icon-button class="mat-icon-button" [disabled]="disableSave()" (click)="add()"
                                    aria-label="Save">
                                <mat-icon class="s-24">save</mat-icon>
                            </button>
                        <button mat-button matTooltip="Cancel" (click)="drawer.toggle()" mat-icon-button>
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <div fxLayout="row" class="p-16">
                    <form [formGroup]="data.orderForm" name="orderForm" fxLayout="column" style="width: 350px" fxFlex>
                            <mat-form-field>
                                <mat-label>Plumber</mat-label>
                                <mat-select matInput #plumber formControlName="plumber">
                                        <mat-option *ngFor="let user of data.usersAvailable" [value]="user">
                                            {{user.firstName + ' ' + user.lastName}}
                                        </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Site</mat-label>
                                <mat-select matInput #accessLevel formControlName="site">
                                    <mat-option *ngFor="let site of data.sitesAvailable" [value]="site">
                                            {{site.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <div fxLayout="row" fxLayoutAlign="space-between">
                                <mat-slide-toggle matTooltip="{{data.useNonMaterialField ? 'Use Stock?' : 'Use Non Stock'}}" [ngModelOptions]="{standalone: true}" [(ngModel)]="data.useNonMaterialField"></mat-slide-toggle>
                                <button mat-button matTooltip="Add Material" (click)="addMaterialItem()" [disabled]="disableAddItem()" mat-icon-button>
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <mat-form-field [hidden]="data.useNonMaterialField">
                                <mat-label>Material</mat-label>
                                <mat-select matInput #material formControlName="material">
                                    <ngx-mat-select-search 
                                            [formControl]="materialCtrl" 
                                            noEntriesFoundLabel="No Materials Found" 
                                            placeholderLabel="Search Materials...">
                                    </ngx-mat-select-search>
                                    <mat-option *ngFor="let material of data.filterMaterials | async" [value]="material">
                                            {{material.stockCode + ': ' + material.stockDescription}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field [hidden]="!data.useNonMaterialField">
                                <mat-label>Non Material</mat-label>                                         
                                <input matInput autocomplete="off" #nonMaterialDescription formControlName="description" [(ngModel)]="data.nonMaterialDescription" /> 
                            </mat-form-field>
                            <mat-form-field [hidden]="data.useNonMaterialField">
                                <input matInput autocomplete="off" #itemQuantity placeholder="Quantity" type="number" formControlName="quantity">
                            </mat-form-field>
                            <mat-form-field [hidden]="!data.useNonMaterialField">
                                <input matInput autocomplete="off" #itemQuantity placeholder="Quantity" type="text" formControlName="nonQuantity">
                            </mat-form-field>
                            <mat-list>
                                <mat-list-item *ngFor="let mat of data.itemsSelected">
                                    <span class="truncate" fxFlex>{{mat.stockCode + ': ' + mat.stockDescription + '(' + mat.quantity + ')'}}</span>
                                    <button mat-button matTooltip="Delete" (click)="data.itemsSelected.splice(mat)" mat-icon-button>
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-list-item>
                            </mat-list>
                      </form>

                </div>
            </mat-drawer>
    </mat-drawer-container>
    </div>
    <div [hidden]="!data.confirmForm" style="display: none;" id="invoice" class="modern page-layout blank" fxLayout="row" fusePerfectScrollbar>

        <div class="invoice-container">
            <mat-progress-bar *ngIf="data.loader"></mat-progress-bar>
            <!-- INVOICE -->
            <div class="card m-0 p-24" id="formImage" style="position: relative;">
    
                <div class="header" fxLayout="row" fxLayoutAlign="space-between start">
    
                    <div class="ids" fxLayout="column">
    
                        <div fxLayout="row" class="seller" fxLayoutAlign="start center">
    
                            <div class="logo">
                                <img id="logoImg" src="assets/images/Plumbery/logo.png" width="350" height="183">
                            </div>
                        </div>
                    </div>
                    <table class="summary mt-16">
                        <tr class="code">
                            <td class="label">ORDER</td>
                            <td class="value">{{data.order.id}}</td>
                        </tr>
                        <tr>
                            <td class="label">SITE</td>
                            <td class="value">{{data.order.site}}</td>
                        </tr>
                        <tr>
                            <td class="label">ORDER DATE</td>
                            <td class="value">{{data.order.dateCreated}}</td>
                        </tr>
                    </table>
                </div>
    
                <div class="invoice-content">
                    <table class="simple invoice-table">
                        <tr>
                            <td style="width: 20%; text-align: right;">
                                <label><b>Plumber</b></label>
                            </td>
                             <td style="width: 100%;">
                                <span>{{data.order.plumber}}</span>
                            </td>
                        </tr>
                    </table>
                    <table class="simple invoice-table mt-12">
                        <thead>
                            <tr>
                                <th>CODE</th>
                                <th>DESCRIPTION</th>
                                <th>QUANTITY</th>
                                <th>COST</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let material of data.materials">
                                <td>
                                    {{material.stockCode}}
                                </td>
                                <td>
                                    {{material.stockDescription}}
                                </td>
                                <td class="text-right">
                                    {{material.quantity}}
                                </td>
                                <td class="text-right">
                                    R{{material.stockCost}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <div class="footer mt-24">
                    <div fxLayout="row" fxLayoutAlign="start start">
                        <div class="logo">
                            <img width="30" height="30" src="assets/images/logos/xataris.png">
                        </div>
                        <div class="note" fxLayout="row">                        
                            <span>Signed: ____________________________________</span>
                            <span class="mx-12">Name:</span>
                            <span>{{data.order.plumber}}</span>
                        </div>
                    </div>
                </div>
    
            </div>
            <!-- / INVOICE -->
    
        </div>
    
    </div>