<div id="file-manager" class="page-layout simple right-sidenav" fusePerfectScrollbar>

    <mat-sidenav-container>
        <div class="center" fxFlex>
            <div class="header xataris-accent-bg p-0" fxLayout="column" fxLayoutAlign="space-between start">
                <div class="breadcrumb text-truncate h1 pl-72" fxLayout="row" fxLayoutAlign="start center"
                     *fuseIfOnDom [@animate]="{value:'*',params:{x:'50px'}}">
                    <div *ngFor="let path of pathArr; last  as isLast" fxLayout="row" fxLayoutAlign="start center">
                        <span>{{path}}</span>
                        <mat-icon *ngIf="!isLast" class="separator">chevron_right</mat-icon>
                    </div>
                </div>
                <div class="file-uploader">
                    <input hidden type="file" #fileInput (change)="handleFileInput($event)" />
                    <button mat-fab matTooltip="{{'INVENTORY.SELECTSOURCEFILE' | translate}}"
                            class="add-file-button mat-warn"
                            (click)="fileInput.click()"
                            [disabled]="data.disableFilepicker"
                            attr.aria-label="{{'INVENTORY.SELECTSOURCEFILE' | translate}}"
                            *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" style="padding-right: 120px; width: 100%; background: rgba(255, 255, 255, 0.3)">
                    <mat-select matTooltip="{{'INVENTORY.SELECTWAREHOUSE' | translate}}"
                                (change)="reloadMaterialsGrid(); setEnableButton()" placeholder="{{'INVENTORY.SELECTWAREHOUSE' | translate}}"
                                [(ngModel)]="data.selectedWarehouse" style="font-weight: bold; margin-left: 140px">
                        <mat-option *ngFor="let warehouse of data.availableWarehouses" [value]="warehouse">
                            {{ warehouse.name }}
                        </mat-option>
                    </mat-select>
                    <button mat-button attr.aria-label="{{'INVENTORY.ADDNEWWAREHOUSE' | translate}}" matTooltip="{{'INVENTORY.ADDNEWWAREHOUSE' | translate}}" (click)="openAddWarehousePanel()" mat-icon-button class="p-5">
                        <mat-icon>add</mat-icon>
                    </button>
                    <button mat-button attr.aria-label="{{'INVENTORY.DELETEWAREHOUSE' | translate}}" matTooltip="{{'INVENTORY.DELETEWAREHOUSE' | translate}}" (click)="deleteWarehouse()" mat-icon-button class="p-5">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <input matInput *ngIf="data.enableAddWarehouse" type="text" style="color: #FFFFFF !important" placeholder="{{'INVENTORY.ENTERNAME' | translate}}" [(ngModel)]="data.warehouseName" fxFlex="20" />
                    <mat-select *ngIf="data.enableAddWarehouse" matTooltip="{{'INVENTORY.SELECTUSER' | translate}}" [(ngModel)]="data.selectedUser" placeholder="{{'INVENTORY.SELECTUSER' | translate}}" fxFlex="30" class="pl-64">
                        <mat-option *ngFor="let user of data.availableUsers" [value]="user">
                            {{ user.text }}
                        </mat-option>
                    </mat-select>

                    <button *ngIf="data.enableAddWarehouse" attr.aria-label="{{'INVENTORY.SAVEWAREHOUSE' | translate}}" mat-button matTooltip="{{'INVENTORY.SAVEWAREHOUSE' | translate}}" (click)="saveWarehouse()" mat-icon-button class="p-5">
                        <mat-icon>save</mat-icon>
                    </button>
                </div>
                <button mat-fab matTooltip="{{'INVENTORY.UPLOADMATERIALS' | translate}}"
                        class="upload-file-button mat-success"
                        (click)="uploadMaterial()"
                        attr.aria-label="{{'INVENTORY.UPLOADMATERIALS' | translate}}"
                        [disabled]="!data.enableUpload"
                        *fuseIfOnDom [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                    <mat-icon>cloud_upload</mat-icon>
                </button>

            </div>
            <!-- / HEADER -->
            <!-- CONTENT -->
            <mat-progress-bar mode="query" *ngIf="startUpload"></mat-progress-bar>
            <div class="content mat-white-bg" fusePerfectScrollbar>
                <fuse-grid style="width: 100%" [gridOptions]="data.inventoryGrid"></fuse-grid>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CENTER -->
    </mat-sidenav-container>
</div>
