:host {
    agm-map {
        width: 100%;
        height: 300px;
    }
    .xataris-accent-bg {
        background-color: rgb(139, 63, 139);
        color: #ffffff !important;
    }

    .agm-search {
        position: absolute; 
        z-index: 100; 
        min-width: 400px; 
        background-color: rgba(139, 63, 139, 0.4); 
        border: 1px solid rgba(0, 0 , 0, 0.5);
        border-radius: 5px;
    }
}