.cell-text{
    text-align: left; 
    padding: 5px;
}

.cell-numeric{
    text-align: right; 
    padding: 5px;
}

.header-cell{
    padding: 5px;
    text-align: left;
    font-size: 14px;
}

.cell-icon{
    width: 30px;
    max-width: 30px;
}

.save-button{
    background-color: white;
}

.save-area{
    background-color: lightgrey;
    border-radius: 5px;
    margin: 5px;
}
