<mat-drawer-container autosize fxFlex>
    <div fxLayout="row">
        <mat-drawer #drawer class="example-sidenav" mode="side">
            <mat-toolbar>
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
                    <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-button mat-icon-button (click)="startNewGame(drawer)">
                          <mat-icon matTooltip="Start New Game">play_arrow</mat-icon>
                      </button>
                </mat-toolbar-row>
            </mat-toolbar>
            <div style="padding: 0 16px 0 16px;">
                    <mat-form-field style="width: 100%">
                        <input [(ngModel)]="data.name" placeholder="Name" autocomplete="off" [ngModelOptions]="{standalone: true}" matInput type="text">
                    </mat-form-field>
                    <p>Select Two Players</p>
                <mat-form-field style="width: 100%">
                    <mat-select placeholder="Players" multiple [(ngModel)]="data.selectedPlayers">
                        <mat-option *ngFor="let player of data.players" [value]="player">{{player.firstName + "" + player.lastName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            
            </div>
        </mat-drawer>
        <div fxLayout="column" fxFlex="25">
            <mat-toolbar>
                <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                        <h2 fxFlex>Games</h2>
                        <div class="example-sidenav-content">
                                <button type="button" mat-icon-button mat-button (click)="drawer.toggle()">
                                  <mat-icon>people</mat-icon>
                                </button>
                              </div>
                </mat-toolbar-row>
            </mat-toolbar>
            <mat-card style="height:100%">
                <mat-card-content fxFlex>
                    <div fxLayout="column" fxFlex>
                        <div fxLayout="row">
                            <mat-list fxFlex>
                                <mat-list-item *ngFor="let game of data.games">
                                        <span fxFlex>{{game.name}}</span>
                                        <mat-icon matTooltip="Run Game" (click)="runGame(game)">visibility</mat-icon>
                                    <mat-icon matTooltip="{{game.lastPLayed.substring(0, 10)}}">access_time</mat-icon>
                                </mat-list-item>
                            </mat-list>                                
                        </div>                        
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxLayout="column" fxFlex>
            <div class="page-layout blank px-24" *ngIf="data.gameActive">
                <mat-toolbar>
                    <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
                        <button mat-button mat-icon-button (click)="saveAnswer()">
                            <mat-icon>save</mat-icon>
                        </button>
                    </mat-toolbar-row>
                </mat-toolbar>
                <mat-card>
                    <mat-card-content fxLayout="row" fxFlex>
                        <div fxFlex fxLayout="column">
                            <div fxLayout="row" *ngFor="let row of data.board">
                                <mat-card *ngFor="let column of row" fxLayout="column" matTooltip="{{column.text | translate}}" (click)="updateTile(column)" [ngStyle]="{'background-color': column.colour, 'height' : column.height + 'px'}" fxFlex style="border: 1px solid #000000; padding: 0px !important;" fxLayoutAlign="center center">
                                    <mat-card-content>
                                        <span>{{column.displayValue}}</span>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div fxLayout="row" fusePerfectScrollbar style="margin: 10px 10px 10px 10px">
                                    <div *ngFor="let block of data.playerOne.tray" fxLayout="column" fxLayoutAlign="center center" style="width: 60px; height: 60px">
                                        <mat-card (click)="selectBlock(block)" [ngStyle]="{ 'background-color' : block.isSelected ? 'pink' : '#ffffff' }">
                                            <mat-card-content>
                                                <span>{{block.letter}}</span>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                                <div fxLayout="row" fusePerfectScrollbar style="margin: 10px 10px 10px 10px;" *ngIf="false">
                                    <div *ngFor="let block of data.playerTwo.tray" fxLayout="column" fxLayoutAlign="center center" style="width: 60px; height: 60px">
                                        <mat-card (click)="selectBlock(block)" [ngStyle]="{ 'background-color' : block.isSelected ? 'pink' : '#ffffff' }">
                                            <mat-card-content>
                                                <span>{{block.letter}}</span>
                                            </mat-card-content>
                                        </mat-card>
                                    </div>
                                </div>
                        </div>                  
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="page-layout blank p-24" *ngIf="!data.gameActive">
                    <mat-spinner *ngIf="data.loading"></mat-spinner>
            </div>
        </div>
        <div fxLayout="column" fxFlex="25">
                <mat-toolbar>
                        <mat-toolbar-row fxLayout="row" fxLayoutAlign="start center">
                            <div class="example-sidenav-content">
                                    <h2>Points</h2>
                                      </div>
                        </mat-toolbar-row>
                    </mat-toolbar>
            <mat-card style="height:100%">
                <mat-card-content fxLayout="row" fxFlex>
    
                </mat-card-content>
            </mat-card>
        </div>

    </div>
</mat-drawer-container>
