// Fix: "Icon button ripple radius is not correct on Edge & Safari"
.mat-icon-button {

    .mat-button-ripple {
        border-radius: 50%;
    }
}

// Fix: "Inconsistent font sizes across elements"
.mat-input-wrapper {
    font-size: 16px;
}

.mat-checkbox {
    font-size: 16px;
}

.mat-radio-button {
    font-size: 16px;
}

.mat-pseudo-checkbox-checked:after {
    width: 14px !important;
    height: 7px !important;
}

// Fix: "Input underlines has wrong color opacity value"
.mat-form-field-underline {
    background-color: rgba(0, 0, 0, 0.12);
}

// Fix: "Some idiots using table-cell and inline-table in mat-select"
.mat-form-field {

    &.mat-form-field-type-mat-select {

        .mat-input-infix {
            display: inline-flex;
            width: auto;

            .mat-select-trigger {
                display: inline-flex;
                align-items: center;
                width: 100%;

                .mat-select-value {
                    display: flex;
                    max-width: none;
                    margin-right: 8px;
                }

                .mat-select-arrow-wrapper {
                    display: inline-flex;
                }
            }
        }
    }
}

// Fix: "Stepper icons are broken due to Fuse's icon helpers"
mat-horizontal-stepper,
mat-vertical-stepper {

    mat-step-header {

        mat-icon {
            height: 16px !important;
            width: 16px !important;
            min-width: 0 !important;
            min-height: 0 !important;
            color: rgba(255, 255, 255, 0.87) !important;
        }
    }
}

mat-vertical-stepper {
    padding: 16px 0;
}

[hidden] { display: none !important;}

:disabled {
    opacity: 0.2;
}

button {
    span {
        mat-icon {
            color: rgb(139, 63, 139) !important;
        }
    }
}
.mat-slide-toggle-bar {
    background-color: rgba(139, 63, 139, 0.5) !important;
}

.mat-elevation-z2 {
    -webkit-box-shadow: 0px 3px 1px -2px rgba(139, 63, 139, 0.2), 0px 2px 2px 0px rgba(139, 63, 139, 0.14), 0px 1px 5px 0px rgba(139, 63, 139, 0.12) !important;
    box-shadow: 0px 3px 1px -2px rgba(139, 63, 139, 0.2), 0px 2px 2px 0px rgba(139, 63, 139, 0.14), 0px 1px 5px 0px rgba(139, 63, 139, 0.12) !important;
}

.mat-elevation-z4 {
    -webkit-box-shadow: 0px 2px 4px -1px rgba(139, 63, 139, 0.2), 0px 4px 5px 0px rgba(139, 63, 139, 0.14), 0px 1px 10px 0px rgba(139, 63, 139, 0.12) !important;
    box-shadow: 0px 2px 4px -1px rgba(139, 63, 139, 0.2), 0px 4px 5px 0px rgba(139, 63, 139, 0.14), 0px 1px 10px 0px rgba(139, 63, 139, 0.12) !important;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 1px -2px rgba(139, 63, 139,.2), 0 2px 2px 0 rgba(139, 63, 139,.14), 0 1px 5px 0 rgba(139, 63, 139,.12) !important;
}

fuse-content{
    background-color: rgba(139, 63, 139,.2) !important;
}

.mat-divider {
    border-top-color: rgba(163, 63, 163, 0.12) !important;
}

.mat-slide-toggle-thumb {
    background-color: rgba(139, 63, 139, 1) !important;
}

fuse-widget > .fuse-widget-front {
    border-radius: 15px !important;
}

mat-toolbar {
    border-radius: 15px 15px 0px 0px !important;
}

mat-card {
    border-radius: 0px 0px 15px 15px !important;
    overflow: hidden !important;
}

.fuse-widget-front {
    display: initial !important;
}
