body {

    > mat-sidenav-container {
        height: 100%;
    }
}
.truncate {
    width: 250px !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}