.text-centre{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-italic{
    font-style: italic;
}
.checkbox{
    width: 25px;
    max-width: 25px;
    margin: 0 10px 0 10px;
}

.icon{
    width: 45px;
    max-width: 45px;
    margin: 0 10px 0 10px;
}

.test{
    display: inline;
}