<mat-tab-group fxFlex>
    <mat-tab label="{{'JOEY.TAB1.LABEL' | translate}}">
        <div class="m-12" fxLayout="column" fxFlex>
            <mat-toolbar class="p-0">
                <mat-card fxFlex FxLayout="column" class="p-0">
                    <mat-toolbar-row>
                        <h1 fxFlex>Items</h1>
                        <span>test</span>
                    </mat-toolbar-row>
                </mat-card>
            </mat-toolbar>
            <mat-divider></mat-divider>
            <mat-card>
                <mat-card-content>
                    <h1>Content 1</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="{{'JOEY.TAB2.LABEL' | translate}}">
        <div class="m-12" fxLayout="column" fxFlex>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex>
                    <mat-toolbar class="p-0">
                        <mat-card fxFlex FxLayout="column" class="p-0">
                            <mat-toolbar-row>
                                <h1 fxFlex>Items</h1>
                                <span>test</span>
                            </mat-toolbar-row>
                        </mat-card>
                    </mat-toolbar>
                    <mat-divider></mat-divider>
                    <mat-card>
                        <mat-card-content>
                            <div fxLayout="row">
                                <mat-form-field style="width: 200px;">
                                    <mat-select placeholder="Select Data" [(ngModel)]="data.selectedDataOptions">
                                        <mat-option *ngFor="let opt of data.dataOptions" [value]="opt">
                                            {{opt.text}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <mat-divider></mat-divider>
                            <div fxLayout="row" *ngIf="data.selectedDataOptions.value === 0">
                                <mat-table fxFlex #table [dataSource]="data.grids.customersGrid">
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="company">
                                        <mat-header-cell *matHeaderCellDef> Company </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.company}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="address">
                                        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="data.grids.customersGridColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: data.grids.customersGridColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div fxLayout="row" *ngIf="data.selectedDataOptions.value === 1">
                                <mat-table fxFlex #table [dataSource]="data.grids.predefinedItemsGrid">
                                    <ng-container matColumnDef="item">
                                        <mat-header-cell *matHeaderCellDef> Item </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.item}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="product">
                                        <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.product}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="quantity">
                                        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.quantity}} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="data.grids.predefinedItemsGridColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: data.grids.predefinedItemsGridColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div fxLayout="row" *ngIf="data.selectedDataOptions.value === 2">
                                <mat-table fxFlex #table [dataSource]="data.grids.productsGrid">
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="description">
                                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="data.grids.productsGridColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: data.grids.productsGridColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div fxLayout="row" *ngIf="data.selectedDataOptions.value === 3">
                                <mat-table fxFlex #table [dataSource]="data.grids.itemsGrid">
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="itemType">
                                        <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.itemType}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="supplier">
                                        <mat-header-cell *matHeaderCellDef> Supplier </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.supplier}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="unitPrice">
                                        <mat-header-cell *matHeaderCellDef> Unit Price </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.unitPrice}} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="data.grids.itemsGridColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: data.grids.itemsGridColumns;"></mat-row>
                                </mat-table>
                            </div>
                            <div fxLayout="row" *ngIf="data.selectedDataOptions.value === 4">
                                <mat-table fxFlex #table [dataSource]="data.grids.itemTypesGrid">
                                    <ng-container matColumnDef="name">
                                        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="group">
                                        <mat-header-cell *matHeaderCellDef> Group </mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.group}} </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="data.grids.itemTypesGridColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: data.grids.itemTypesGridColumns;"></mat-row>
                                </mat-table>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="{{'JOEY.TAB3.LABEL' | translate}}">
        <div class="m-12" fxLayout="column" fxFlex>
            <mat-toolbar class="p-0">
                <mat-card fxFlex FxLayout="column" class="p-0">
                    <mat-toolbar-row>
                        <h1 fxFlex>Items</h1>
                        <span>test</span>
                    </mat-toolbar-row>
                </mat-card>
            </mat-toolbar>
            <mat-divider></mat-divider>
            <mat-card>
                <mat-card-content>
                    <h1>Content 1</h1>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>